---
http_interactions:
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/slice?key=<DICTIONARYAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"meta":{"id":"slice","uuid":"58b619bb-61ff-49e3-b2cd-9587f661e302","src":"coll_thes","section":"alpha","target":{"tuuid":"235e7e1a-4c43-4b48-9c94-81917924f96f","tsrc":"collegiate"},"stems":["slice","sliceable","sliced","slicer","slicers","slices","slicing"],"syns":[["sliver","splinter"],["cut","gash","incise","rip","shear","slash","slit"]],"ants":[],"offensive":false},"hwi":{"hw":"slice"},"fl":"verb","def":[{"sseq":[[["sense",{"sn":"1","dt":[["text","to
        cut into long slender pieces "],["vis",[{"t":"{it}slice{\/it} the carrot into
        tiny strips"}]]],"syn_list":[[{"wd":"sliver"},{"wd":"splinter"}]],"rel_list":[[{"wd":"chip"},{"wd":"chop"},{"wd":"dice"},{"wd":"hash"},{"wd":"julienne"},{"wd":"mince"}],[{"wd":"saw"},{"wd":"scissor"}],[{"wd":"cleave"},{"wd":"rive"},{"wd":"split"}],[{"wd":"gash"},{"wd":"incise"},{"wd":"rip"},{"wd":"slash"},{"wd":"slit"}]]}]],[["sense",{"sn":"2","dt":[["text","to
        penetrate with a sharp edge (as a knife) "],["vis",[{"t":"the shard of glass
        {it}sliced{\/it} my hand, and I started bleeding profusely"}]]],"syn_list":[[{"wd":"cut"},{"wd":"gash"},{"wd":"incise"},{"wd":"rip"},{"wd":"shear"},{"wd":"slash"},{"wd":"slit"}]],"rel_list":[[{"wd":"crosscut"},{"wd":"hacksaw"},{"wd":"saw"},{"wd":"scissor"}],[{"wd":"cleave"},{"wd":"rive"},{"wd":"split"}],[{"wd":"pierce"},{"wd":"stab"}],[{"wd":"bruise"},{"wd":"butcher"},{"wd":"hack"},{"wd":"haggle"},{"wd":"lacerate"},{"wd":"mangle"}],[{"wd":"rend"},{"wd":"tear"}],[{"wd":"carve"},{"wd":"chip"},{"wd":"chisel"},{"wd":"notch"}],[{"wd":"anatomize"},{"wd":"dissect"},{"wd":"section"}],[{"wd":"chop"},{"wd":"dice"},{"wd":"mince"}],[{"wd":"amputate"},{"wd":"cut
        off"},{"wd":"sever"}]]}]]]}],"shortdef":["to cut into long slender pieces","to
        penetrate with a sharp edge (as a knife)"]},{"meta":{"id":"slice","uuid":"72079058-1c30-4cdf-88fa-a134c9e6804a","src":"coll_thes","section":"alpha","target":{"tuuid":"a0e5de09-cce1-4f07-9eee-2a28671305fb","tsrc":"collegiate"},"stems":["slice","slices"],"syns":[["cross
        section","sample","sampler","sampling","selection"],["cut","cutting"],["allotment","allowance","cut","end","part","piece","portion","proportion","quota","share","take"]],"ants"[...]
[...]
